body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.vivek{
    width:100px;
    
    color:rgba(72,152,221,0.5);
    font-size:50px;
    background-color:yellow;
    text-align:center;
    padding-left:500px;
    margin-left:500px;
}

